.product-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.product-item h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 0 0 10px 0;
}

.product-item p {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

.product-image {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для хлебных крошек */
.breadcrumb a {
    color: #cccccc; /* Светло-серый цвет для ссылок */
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb {
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #666; /* Цвет для неактивных элементов */
}