.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-item {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.product-item h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    color: #fff;
    margin: 10px 0;
}

.product-item p {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: #ccc;
    margin: 5px 0;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-item a {
    color: #ffd700;
    text-decoration: none;
}

.product-item a:hover {
    text-decoration: underline;
}

/* Стили для хлебных крошек */
.breadcrumb a {
    color: #cccccc;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb {
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #666;
}